body {
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
    color: #2d2d2d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h3, p, ul, li {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 48px;
    font-weight: 100;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

ul {
    list-style: none;
}
